MUSTS 

>> Customer Account View
User must be able to add a customer account
User must filled in custom account requried fields 
User must have colored/text feedback on errors 
User must be able to update information



>> Payment processor/Revenue View




>> Reservations View 




>> Operations View 